<div class="head">
    <span class="sidenavButton" onclick="openNav()">&#9776;</span>

    <div class="title">
        <div class="name">
            ANDREA LUPBERGER
        </div>
        <div class="subText">
            architekturkommunikation
        </div>
    </div>

    <div class="lang">
        <a href="#">de</a>
        <a href="#">es</a>
        <a href="#">en</a>
    </div>
</div>

<div class="topnav">
    <a class="active" href="#consulting">consulting</a>
    <a href="#mediation">mediation</a>
    <a href="#translation">translation</a>
    <a href="#networking">networking</a>
    <a href="#about">about me</a>
</div>