



<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "40vw";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}


</script>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#consulting">consulting</a>
    <a href="#mediation">mediation</a>
    <a href="#translation">translation</a>
    <a href="#networking">networking</a>
    <a href="#about">about me</a>
</div>