<!DOCTYPE html>

<head>
    <%- include('./partials/head'); %>
</head>

<header>
    <%- include('./partials/header'); %>
</header>

<body>
    <div class="outer-wrapper">
        <div class="inner-wrapper">

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus hendrerit nisl nunc, vitae bibendum felis
            tristique nec. Nulla laoreet, est sed feugiat convallis, nisl ex mattis quam, non feugiat lorem felis sit
            amet nibh. Donec sit amet pretium massa, sagittis porta arcu. Donec ac magna laoreet, convallis quam at,
            finibus metus. Mauris vestibulum cursus blandit. Sed eget sem risus. Curabitur ultrices viverra mollis. Nam
            auctor convallis ipsum, sed ultricies sem pharetra ac. Nullam venenatis nunc ac bibendum rutrum. Integer
            eget fringilla ipsum, eget molestie turpis. Proin congue, ipsum rutrum gravida efficitur, quam justo tempor
            nulla, at tristique nunc lorem id dolor. Pellentesque suscipit sollicitudin lectus, ut volutpat diam posuere
            a. Cras euismod faucibus nisi quis luctus.
            <p>
                Cras tincidunt vulputate odio a scelerisque. Etiam tincidunt efficitur sem, nec cursus lacus feugiat
                suscipit. Etiam at velit nec nunc posuere rhoncus quis a metus. Aliquam ligula felis, porta sit amet
                consequat id, venenatis id purus. Sed orci nulla, viverra at nunc ut, imperdiet maximus ante. Aliquam
                erat volutpat. Maecenas a efficitur arcu. Fusce nec tincidunt felis.
            </p>

        </div>
    </div>
    <footer>
        <%- include('./partials/footer'); %>
    </footer>
</body>
<%- include('./partials/sidenav'); %>
